body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background: rgba(31, 31, 31, 0.5);
  color: white;
}

.surveyqs {
  border: 2px solid white;
  background: rgba(31, 31, 31, 0.5);
  color: white;
}